{% extends 'base.html' %}

{% block title %}
    This Day in Music
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">

                {% include "partials/navbar.html" with active="events" %}

                <div class="page-header">
                    <h1>
                        {{ date|date:"F, d" }}
                        <small>Events that happened on this day in music...</small>
                    </h1>
                </div>

                {% for event in events %}
                    <div class="media well">

                        <div class="media-body">
                            <h4 class="media-heading">
                                {{ event.event_date }}

                                {% if event.name %}
                                    - {{ event.name }}
                                {% endif %}
                            </h4>
                            {{ event.description }}

                            <div class="tweet">
                                <a href="https://twitter.com/intent/tweet?text={{ event.twitter_message }}"
                                   class="twitter-hashtag-button" data-related="today_in_music" style="float:right">Tweet</a>
                                <script>!function (d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0],
                                        p = /^http:/.test(d.location) ? 'http' : 'https';
                                    if (!d.getElementById(id)) {
                                        js = d.createElement(s);
                                        js.id = id;
                                        js.src = p + '://platform.twitter.com/widgets.js';
                                        fjs.parentNode.insertBefore(js, fjs);
                                    }
                                }(document, 'script', 'twitter-wjs');</script>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="text-center">
                    {% include "partials/pagination.html" %}
                </div>

            </div>
        </div>
    </div>


{% endblock %}
