<html>
    <title>This Day in Music</title>
    <body>
        <h1>{{ date|date:"F, d" }}</h1>

        <h2>Events that happened on this day in music...</h2>
		{% for event in events %}
			<div>
				<h3>
					{{ event.date }}
				</h3>
				<p>
					{{ event.description }}
				</p>
			</div>
		{% endfor %}

        <ul class="pagination">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><span>1<span class="sr-only">(current)</span></span></li>
            <li><a href="2">2</a></li>

            <li><a href="3">3</a></li>

            <li><a href="4">4</a></li>

            <li><a href="5">5</a></li>

            <li><a href="2">»</a></li>
        </ul>
    </body>
<html>
