{% extends 'base.html' %}

{% block title %}
    Playlist a day for {{ date|date:"F, d" }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                {% include "partials/navbar.html" with active="playlist" %}

                <div class="page-header">
                    <h1>
                        {{ date|date:"F, d" }}
                        <small>Playlist based on the events that happened on this day in music...</small>
                    </h1>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="well">
                <ol>
                    {% for track in tracks %}
                        <li>
                            {{ track.event }}
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="text-center">
                {% if playlist %}
                    <iframe id="spotify-playlist"
                            src="{{ playlist }}"
                            style="width:640px; height:520px;" frameborder="0"
                            allowtransparency="true"></iframe>
                {% else %}
                    <form action="{% url 'add_to_spotify' %}" method="post" id="create-playlist">
                        {% csrf_token %}
                        <input type="hidden" name="tracks" id="tracks" value="{{ track_ids }}"/>

                        <input type="text" name="username" id="username"/>

                        <input type="submit" value="Create spotify playlist"/>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

